.App, body, html {
  margin: 0;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.App {
  height: 100vh;
  width: 100vw;;
}

* {
  box-sizing: border-box;
  font-size: 2.1vh;
}

ul {
  padding: 0;
  margin: 0;
}

.left_col {
  width: 42px;
  height: 85%;
  position: fixed;
  left: 0;
  top: 10%;
  margin-top: 0;
  padding-top: 15.4%;
  background-color: black;
  border-right: solid 1px white;
}

.left_col ul {
  padding: 0;
  height: 100%;
}

.left_col li {
  width: 100%;
  height: 7.7%;
  background-color: black;
  color: white;
  border-top: solid 1px white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right_col {
  position: fixed;
  width: calc(100vw - 42px);
  left: 42px;
  overflow-x: scroll;
  top: 10%;
  height: 85%;
  overflow-y: hidden;
}

.right_col ul {
  width: 12400px;
  background-color: black;
  height: 90%;
  margin-top: 0;
  position: relative;
}

.right_col header {
  width: 12400px;
  background-color: black;
  height: 5%;
}

.right_col .days {
  background-color: black;
  width: 12400px;
  height: 5.5%;
  margin-top: 0px;
  color: white;
}

.right_col .days ul {
  padding: 0;
  height: 30px;
  margin: 0;
  margin-left: -1px;
}

.right_col .days ul li {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  position: sticky;
  left: -1px;
  padding-left: 5px;
  /* border-top: solid 1px white; */
  border-left: 1px solid grey;
}

.right_col .days ul li:nth-child(1) {
  width: 3200px;
  background-color: #c00371;
  z-index: 10;
}
.right_col .days ul li:nth-child(2) {
  width: 4600px;
  background-color: #c00371;
  z-index: 20;
}
.right_col .days ul li:nth-child(3) {
  width: 300px;
  background-color: #c00371;
  z-index: 30;
}

.right_col header li {
  width: 200px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  border-left: solid 1px grey;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
  color: white;
  padding-left: 5px;
  height: 130%;
  margin-top: -0.5%;
}

.art {
  border: solid 1px #c00371;
  color: #c00371;
  background-color: white;
  position: absolute;
  height: 7.7%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

.header {
  background-image: url(../public/bg.png);
  background-size: cover;
  width: 100vw;
  height: 10%;
  border-bottom: solid 1px white;
  color: white;
  position: fixed;
  top: 0;
  text-align: center;
  line-height: 9vh;
  z-index: 1000;
}

footer {
  bottom: 0;
  position: fixed;
  color: white;
  text-align: center;
  padding: 0 10px;
  height: 5%;
  width: 100vw;
  border-top: solid 1px white;
  line-height: 4.5vh;
  background-image: url(../public/bg.png);
  background-size: cover;
}

footer a {
  color: white;
}

.art--V {
  top: 0%;
  border-top: none !important;
}

.art--W {
  top: 7.7%;
}

.art--X {
  top: 15.4%;
}

.art--Y {
  top: 23.1%;
}

.art--U {
  top: 30.8%;
}

.art--A {
  top: 38.5%;
}

.art--B {
  top: 46.2%;
}

.art--C {
  top: 53.9%;
}

.art--D {
  top: 61.6%;
}

.art--H {
  top: 69.3%;
}

.art--S {
  top: 77%;
}

.art--Kc {
  top: 84.7%;
}

.art--Nc {
  top: 92.4%;
}

.overlay {
  position: fixed;
  top: 10%;
  z-index: 1000;
  width: 100vw;
  height: 85%;
}

.overlay__header {
  height: 10%;
  padding-left: 40px;
  color: #c00371 !important;
}

.overlay__header div {
  height: 50%;
  background-color: rgba(255,255,255,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay__days {
  border-bottom: solid 1px #c00371;
}

.overlay__stages {
  height: 90%;
  top: 0;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.9);
}

.overlay__stages p {
  transform: rotate(-90deg);
  color: #c00371;
}

.overlay__artists {
  height: 90%;
  display: inline-flex;
  background-color: rgba(255,255,255,0.9);
  top: 0;
  width: calc(100vw - 40px);
  margin-left: 0;
  vertical-align: top;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: solid 1px #c00371;
  border-top: solid 1px #c00371;
}

.overlay__artists p {
  color: #c00371;
}

.overlay__artists button {
  border: solid 1px #c00371;
  background-color: transparent;
  padding: 5px 50px;
  border-radius: 20px;
  color: #c00371;
}

.overlay__artists button:hover {
  background-color: white;
}